* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}

#wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}

.container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
   
}

.background {
    transform: translateZ(-40px) scale(5.1);
}

.foreground {
    transform: translateZ(-20px) scale(3);
}
.background, .foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}

h1 {
    /* font-family: 'Signika Negative', sans-serif; */
    position: absolute;
    top: 7rem;
    font-size: 10rem;
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

section {
    background-color: rgb(45,45,45);
    color: white;
    padding: 5rem 0;
}

.sec-heading {
    font-size: 5rem;
    padding: 0 10rem;
}

.text {
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.bg {
    position: relative;
   background-attachment: fixed;
   width: 100%  ;
   background-size: cover;
   background-position: center;
   height: 520px;
   

}
.bg1 {
    background-image: url(sport-1.jpg);
    display: flex;
    align-items: center;
    left: 10%;
}

.bg2 {
    background-image: url(sport-2.jpg);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 10%;
}

.bg3 {
    background-image: url(sport-3.jpg);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 10%;
}

.desc{
    font-size: 3rem;
    background-color: white;
    color: black;
    padding: 1rem 2rem;
}

.foot {
    height: 5rem;
    background-color: rgb(45,45,45);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
